/* laptop 1024px  Tablet 640px */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.homeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.homeBox .imageHome {
    background-color: black;
    min-width: calc(50% - 5%);
    height: 200px;
}

.homeBox .txtHome {
    min-width: calc(50% - 5%);
}

/* Mobile */
@media screen and (max-width:480px) {}